<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles%}


<head>
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'createnewcustomer.css' %}">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!------ Include the above in your HEAD tag ---------->

</head>

<body id="bg">


  <div class="container register " style=" width: 80%;">



                      <div class="col-md-9 register-right">

                          <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="home-tab">
                                  <h3 class="register-heading">Apply as a new Seller</h3>
                                  <div class="row register-form">
                                      <div class="col-md-6">
                                        <form  method="POST">
                                          <label for="div-first-name">Store Name:</label>
                                          <div class="form-group form control" id="div-first-name">

                                            {{ user_form.username}}
                                          </div>
                                          <label for="div-email">Email:</label>
                                          <div class="form-group form control" id="div-email">
                                            {{ user_form.email }}
                                          </div>
                                          <label for="div-last-name">Category Type:</label>
                                          <div class="form-group form control" id="div-last-name">
                                            {{ seller_form.Category_type }}
                                          </div>

                                          <label for="div-address">Address:</label>
                                          <div class="form-group form control" id="div-address">
                                            {{ seller_form.address }}
                                          </div>
                                          <label for="div-mobile">Mobile Phone:</label>
                                          <div class="form-group form control" id="div-mobile">
                                            {{ seller_form.phone }}
                                          </div>
                                          <label for="div-password">Password:</label>
                                          <div class="form-group form control" id="div-password">
                                            {{ user_form.password }}
                                          </div>
                                          <label for="div-file">Products:</label>
                                          <div class="form-group form control" id="div-file">
                                            {{ seller_form.goods }}
                                          </div>
                                            {% csrf_token %}


                                          <div class="">
                                          <input type="submit" class="btnRegister"  value="Register"/>
                                          </div>
                                        </form>


            <body>
